nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

a img{
    width: 16px;
    height: 16px;
}

main{
    text-align: center;
}

.search-box input {
    font-size: 16px;
    height: 50px;
    width: 90%;
    border-radius: 30px;
    text-align: center;
    border: 1px solid gray;
    background-color: transparent;
    padding-left: 15px;
}
.search-box i{
    padding-left: 15px;
    color: teal;
    font-size: 16px;
}

.title{
    width: 50%;
    margin: 0 auto;
}

.title img{
    width: 40%;
}

button{
    margin-top: 10px;
}